<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-10 col-sm-offset-1">-->
<!--      <h1 class="module-title font-alt text-center">RRETH NESH</h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container-fluid bg-2 text-center">
  <app-background></app-background>
  <div class="mt-2"><p style="color: #caa0a0">
    MIRE SE VINI NE FAQEN ME TE MADHE TE SOUVENIREVE NE SHQIPERI.
    SOUVENIR ALBANIA ESHTE PRANE JUSH QYSH NE VITIN 2007 ME PUNIME PRODHIMIN E PUNIMEVE ARTIZANALE DHE TREGTIMIN
    SOUVENIRE TE NDRYSHME TE NJE CILESIE TE LARTE.
    KORREKTESIA NDAJ KLIENTI DHE CILESIA E LARTE E PRODUKTEVE TONA E KAN DIFERENCUAR FIRMEN TONE DUKE EXPORTUAR MALLRASH
    NE SHUME SHTETE TE BOTES SI USA,CANADA,ITALI ETJ
    NE JEMI PRANE KLIENTAVE ME SHUMIVE NE TE GJITH SHQIPERNI ME SHERBIMIN(DOOR TO DOOR ) SI DHE ME PAKICE MUND TE NA
    VIZITONI NE DYQANIN TONE NE PEDONALEN KOL IDROMEN NE SHKODER OSE NA FAQEN TONE TE <a style="color: coral"
                                                                                         href="youtube.com">INSTAGRAM</a>
    & <a style="color: coral">FACEBOOK</a>
  </p>
  </div>
</div>
